<a href="/bright_ideas">Bright Ideas</a>
<a href="/logout">Logout</a>
<p>Name: <%= @user.name %></p>
<p>Alias: <%= @user.alias %></p>
<p>Email: <%= @user.email %></p>
<br>
<br>
	<p>Total number of posts: <%= @posts.count %> </p>
	<p>Total number of likes: <%= @likes.count %></p>

